@tailwind base;
@tailwind components;
@tailwind utilities;

.item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon{
  width:fit-content;
}

.active{
  color: #FBFFFF;
  background-color: #1F2937;
  border-radius: 0.5rem;
}